.btn-group(role='group', aria-label='Basic example')
    button.btn.btn-info(type='button', data-toggle='collapse', data-target='#addNew', aria-expanded='false', aria-controls='collapseExample') Add new post
    button.btn.btn-info(type='button', (click)='showPublic()') Public only
    button.btn.btn-info(type='button',  (click)='showPrivate()') Private only
    button.btn.btn-info(type='button', (click)='getAll()') Show all
br

#addNew.collapse
    .card.card-body
        .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Title:
            input.form-control([(ngModel)]="blogEntry.title", type='text', aria-label='title', aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Tag(s):
            input.form-control([(ngModel)]="blogEntry.tag", type='text', aria-label='tags', aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
            .input-group-prepend
                label.input-group-text(for='inputGroupSelect01') Privacy:
            select#inputGroupSelect01.custom-select([(ngModel)]="blogEntry.onlyMeCanSee")
                option(selected='') Choose...
                option(value='true') Private
                option(value='false') Public
            
        .input-group
            .input-group-prepend
                span.input-group-text Content:
            textarea.form-control([(ngModel)]="blogEntry.content", aria-label='With textarea')
        
        br
        button.btn.btn-info(type="sumbmit", (click)='create()', data-toggle='collapse', data-target='#addNew', aria-controls='collapseExample') Send
        button.btn.btn-light(type="button", data-toggle='collapse', data-target='#addNew', aria-controls='collapseExample') Close

br

.card-columns
        .card.border-info.mb-3(style='max-width: 18rem;')(*ngFor="let entry of myEntries ")
            .card-header.border-info([ngClass]="{'private':entry.onlyMeCanSee === true}") {{entry.tag}}
            .card-body([ngClass]="{'private':entry.onlyMeCanSee === true}")
                h5.card-title {{entry.title}}
                p.card-text {{entry.content}} 
            .card-footer.bg-transparent.border-info
                p.small.text-muted 
                    | Updated on: {{entry.updatedAt | date }}
                    br 
                    | Created on: {{entry.createdAt | date }}
                button.btn.btn-sm.btn-info(type="button" data-toggle='modal', data-target='#updatePost', (click)='modalChange(entry._id)') Change
                button.btn.btn-sm.btn-dark(type="button", (click)='delete(entry._id)') Delete
                button.btn.btn-sm.btn-light(type="button", (click)='addComment(entry._id)') Comment



// *********** MODAL FOR UPDATE post

#updatePost.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title ID: {{modal._id}}
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Title:
            input.form-control([(ngModel)]="modal.title", type='text', aria-label='title', aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
            .input-group-prepend
                span#inputGroup-sizing-default.input-group-text Tag(s):
            input.form-control([(ngModel)]="modal.tag", type='text', aria-label='tags', aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
            .input-group-prepend
                label.input-group-text(for='inputGroupSelect01') Privacy:
            select#inputGroupSelect01.custom-select([(ngModel)]="modal.onlyMeCanSee")
                option(selected='') Choose...
                option(value='true') Private
                option(value='false') Public
            
        .input-group
            .input-group-prepend
                span.input-group-text Content:
            textarea.form-control([(ngModel)]="modal.content", aria-label='With textarea')

      .modal-footer
        button.btn.btn-info(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button', data-dismiss='modal', (click)='update()') Save




          
